* {
margin: 0;
}

html, body {
height: 100%;
text-align:center;
font-family:Corbel;
background-color:black;
}

.wrapper {
top: 0; left: 0;
height: 95%;
width: 100%;
display: table;
}

.footer {
color: #aaa;
font-family:'Times New Roman';
}

p {display: table-cell; vertical-align: middle;}


a:link {color: #aaa; text-decoration: underline; }
a:active {color: #aaa; text-decoration: underline; }
a:visited {color: #aaa; text-decoration: underline; }
a:hover {color: #aaa; text-decoration: none; }